.box {
	canvas {
		width: 100%;
		height: 100%;
	}

	width: 48rem;
	height: 38rem;
	margin: 2rem auto;
	text-align: center;
	background: #ffffff;
	border: 1px solid transparent;
	border-radius: 1rem;
	box-shadow: 0 0 14px rgb(151 187 233 / 85%);
}
